<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:head>
	<title>Fluffy Bot 2.0</title>
	<h:outputScript library="all" name="scripts/dashboardlogin.js"/>
</h:head>
<h:outputStylesheet library="all" name="style.css" />
<h:body>
	<h:form>
		<div id="header">
			<h1>Welcome to the test dashboard #{testDashboardBean.username}</h1>
			<img src="#{testDashboardBean.imageurl}"/>
		</div>
	</h:form>

</h:body>


</html>